/* area 3 */
.area-3{
    height: 500px;
    padding:5%;
    background:linear-gradient(180deg, #004D40 0%, rgba(0, 77, 64, 0.51) 0%), url("../img/adult-computer-connection-2696299.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end
}

.title-area3{
    font-size: 80px;
    margin-bottom: 40px
}

.text-area3{
    width: 500px
}
