body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px; 
    overflow-x:hidden;
    line-height: 35px;
}

.header-vantagens{
    width: 30% ;
}

.text-bold{
    font-weight: 700;
    flex-wrap: wrap;
}

h1{
    font-size: 50px;
    margin-bottom: 80px;
}

h2{
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 30px;
}



@media only screen and (min-width: 1px) {
    .btn-primary{
        width: 100px;
        border-radius: 6px;
        padding: 5px;
        text-align: center;
        margin: 40px 40% 30px 40%;
        align-self:center;
    }
}

@media only screen and (min-width: 600px) {
    .btn-primary{
        width: 100px;
        border-radius: 6px;
        padding: 5px;
        text-align: center;
        margin-top: 40px
    }
}
@media only screen and (min-width: 900px) {
    .btn-primary{
        width: 100px;
        border-radius: 6px;
        padding: 5px;
        text-align: center;
        margin-top: 40px
    }
}